.content-page-wrapper {
  // position: fixed;
  // z-index: -1;
  display: flex;
  justify-content: center;
  text-align: center;

  .left-column {
    // display: flex;
    // background: url("/assets/images/timebomb.jpg");
  }
}
