.about-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 70vh;
  padding-top: 34px;
  padding-bottom: 30px;

  .left-about-column img {
    // background: url("/assets/images/uv-logo.png");
    // background-size: cover;
    // background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 43px;
  }

  .right-about-column {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}
