@media (max-width: 768px) {
  .nav-wrapper {
    padding-left: 50px;
    font-size: 15px;
  }
  .homepage-wrapper {
    height: 100vh !important;
  }
}

@media (min-width: 48em) {
  .left-side {
    display: flex !important;
  }

  .nav-link-wrapper {
    margin-right: 10px;
    margin-left: 15px;
  }

  .nav-hamburger {
    display: none !important;
  }

  .dropdown-nav-wrapper {
    display: none !important;
  }
  .cloud-menus {
    display: flex;
    flex-direction: row !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .fda-warning-wrapper {
    h1 {
      font-size: 18px !important;
    }
  }

  .about-page-wrapper img {
    width: 34% !important;
  }

  .right-about-column {
    padding-bottom: 80px !important;
  }

  .footer-left-side img {
    width: 27% !important;
  }

  .auth-left-column {
  }
}
